advisorWithLogicApp/logicAppCode.json
{
    "$connections": {
        "value": {
            "office365": {
                "connectionId": "/subscriptions/<<OFFICE 365 SUBSCRIPTION ID>>/resourceGroups/CommonWestUS2/providers/Microsoft.Web/connections/office365",
                "connectionName": "office365",
                "id": "/subscriptions/<<OFFICE 365 SUBSCRIPTION ID>>/providers/Microsoft.Web/locations/westus2/managedApis/office365"
            }
        }
    },
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "ListRecommendations": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://management.azure.com/",
                                "clientId": "<<APPLICATION CLIENT ID>>",
                                "secret": "<<APPLICATION SECRET>>",
                                "tenant": "<<TENANT ID>>",
                                "type": "ActiveDirectoryOAuth"
                            },
                            "method": "GET",
                            "uri": "https://management.azure.com/subscriptions/@{items('For_each')?['subscriptionId']}/providers/Microsoft.Advisor/recommendations?api-version=2017-03-31"
                        },
                        "runAfter": {},
                        "type": "Http"
                    },
                    "Send_an_email": {
                        "inputs": {
                            "body": {
                                "Body": "@{body('ListRecommendations')}",
                                "Subject": "Azure advisor -   @{items('For_each')?['displayName']}-@{items('For_each')?['subscriptionId']}",
                                "To": "anemail@anaddre.ss"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/Mail"
                        },
                        "runAfter": {
                            "ListRecommendations": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Parse_JSON')?['value']",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "ListSubscriptions": {
                "inputs": {
                    "authentication": {
                        "audience": "https://management.azure.com/",
                        "clientId": "<<APPLICATION CLIENT ID>>",
                        "secret": "<<APPLICATION SECRET>>\n",
                        "tenant": "<<TENANT ID>>",
                        "type": "ActiveDirectoryOAuth"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions?api-version=2016-06-01"
                },
                "runAfter": {},
                "type": "Http"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('ListSubscriptions')",
                    "schema": {
                        "properties": {
                            "value": {
                                "items": {
                                    "properties": {
                                        "authorizationSource": {
                                            "type": "string"
                                        },
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "subscriptionId": {
                                            "type": "string"
                                        },
                                        "subscriptionPolicies": {
                                            "properties": {
                                                "locationPlacementId": {
                                                    "type": "string"
                                                },
                                                "quotaId": {
                                                    "type": "string"
                                                },
                                                "spendingLimit": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "subscriptionId",
                                        "displayName",
                                        "state",
                                        "subscriptionPolicies",
                                        "authorizationSource"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "ListSubscriptions": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    }
}